{% extends 'masterpage.html' %}

{% block title %} Facturación {% endblock title %}

{% block content %}
	<section id="idFacturacion">
		<h2>Apartar Artículos</h2>
		
		<section class="secFactura">
			<table>
				<tr>
					<td class="clsCte">
						<label for="cliente">Cliente:</label>			
					</td>
					<td>
						<input type="text" name="cliente" class="ProductDescrp TextBoxes clsCte" PlaceHolder="Buscar Cliente" id="iCte" autocomplete="off" />	
						<span class="icon-uniE601 search-iconCte"> </span>		
					</td>
					<td>
						<a href="javascript:return false;" class="AddItem" id="btNewCte">Nuevo</a>
					</td>
				</tr>
				<table id="clientesajax" class="tableSearchCte displaynone"> </table>

				<tr >
					<td>
						<label for="producto">Producto:</label>
					</td>
					<td>
						<input type="text" name="producto" class="ProductDescrp TextBoxes secApartados" PlaceHolder="Buscar Producto" id="iProd" autocomplete="off"/>
						<span class="icon-uniE601 search-icon2"> </span>
					</td>
					<td>
						<!-- <a href="#" class="AddItem" id="btNew">Nuevo</a> -->
					</td>
				</tr>
			</table>			
		</section>
		<table id="productosajax" class="tableSearch"> </table>

		<section class="secCliente">
		 	<div class="nuevoCliente" id="clienteForm">
		 		<form method="POST" action=""> 
		 			{% csrf_token %}
		 			<p class="cliente"> Nuevo Cliente</p>
		 			<a href="#" class="cerrarCte" id="btcerrarCte"> X </a>
		 			<p class="Cte"> Nombre: </p> <p class="tCte"> <input type="text" id="id_nombre" name="nombre" required oninvalid="this.setCustomValidity('Favor digitar un nombre')" oninput="setCustomValidity('')"/> </p> 
		 			<p class="Cte"> Telefono: </p> <p class="tCte"> <input type="text" id="id_telefono" name="telefono" required oninvalid="this.setCustomValidity('Favor digitar un telefono')" oninput="setCustomValidity('')"/> </p>
		 			<p> <input type="submit" value="Guardar Cliente" class="guardarCliente"> </p>
		 		</form>
		 	</div>
		</section>
		
		<form action="/facturar/" method="POST">
		{% csrf_token %}
		<section class="secDetalle">
			<div class="secDetalleDIV">
			<article class="Item">
				<table class="tableItem HideItem" id="Items">
					<tr class="HeaderItem">
						<td class="CellItemHeader">
						#						
						</td>
						<td class="CellItemHeader">
						Cod. Prod.						
						</td>
						<td class="CellItemHeader">
						Descripción
						</td>
						<td class="CellItemHeader CellItemHeaderNumber">
						Cant.						
						</td>
						<td class="CellItemHeader CellItemHeaderNumber">
						Precio						
						</td>
						<td class="CellItemHeader CellItemHeaderNumber">
						Desc.						
						</td>
						<td class="CellItemHeader CellItemHeaderNumber">
						Importe						
						</td>
						<td class="CellItemHeader" id="idHeaderDelete">
						Quitar
						</td>
						<td class="CellItemHeader" id="idHeaderApartar">
						Apartar
						</td>
					</tr>
					
					
			</table>
		</form>
				<table class="tTotals">
					<tr>
						<td> Total: </td>
						<td> <p class="Totals" id="iTOTAL">0.00</p></td>
					</tr>
					<tr>
						<td>Pago:</td>
						<td> <p class="Pago"><input id="iPagoF" name="cant" type="text" class="Totals Pago" PlaceHolder="0.00"/> </p></td>
					</tr>
					<tr>
						<td>Cambio:</td>
						<td> <p class="Totals" id="iCambioF">0.00</p></td>
					</tr>
					<tr>
						<td> </td>
						<td>
							<p>
							<a href="javascript:ApartarProductos();" class="AddItem PrintFact" id="btnApartar">Apartar </a>
							<!-- <input type="submit" value="Imprimir" class="AddItem PrintFact" /> -->

							</p>
						</td>
					</tr>
				</table>
							 <p id="pMessaje1"> <div> <span id="iMessage" class="clsMessage">  </span> </div> </p>
							 <p id="pMessaje"> <div> <span id="iMessage" class="clsMessage">  </span> </div> </p>

			</article>
		</div>	
		</section>
	</section>

{% endblock content %}