{% extends 'masterpage.html' %}

{% block title %} Buscar Facturas {% endblock title %}

{% block content %}

{% load mathfilters %}
{% load humanize %}

<section>
	<h2> Buscar Facturas </h2>
	<br>
	
	<form action="" method="get" >
	<div class="factura"> Buscar Factura: <input id="Factura" name="Factura" type="text" PlaceHolder="Factura"/> <input type="submit" class="AddItem PrintFact" value="Buscar"> </div> 
	</form>

	<div class="linea">
			
	</div>

	<table class="factura">
		{% if object_list %}
		<tr>
			<td class="margenesTitle margenesProducto">Producto </td> 
			<td class="margenesTitle">Cantidad </td>  
			<td class="margenesTitle">Precio </td>  
			<td class="margenesTitle">Descuento </td>  
		</tr>
		{% endif %}


		{% for factura in object_list %}

		<tr>
			<td class="margenesRow margenesProducto"> {{ factura.producto }} </td> 
			<td class="margenesRow"> {{ factura.cantidad }} </td> 
			<td class="margenesRow"> {{ factura.precio }} </td> 
			<td class="margenesRow"> {{ factura.descuento }} </td> 
		</td>
		</tr>
		{% empty %}
			<p class="factura" >NO EXISTEN FACTURAS PARA LA FECHA ESPECIFICADA</p>
		{% endfor %}
	</table>

		{{ factura }}

</section>

{% endblock content %}