{% extends 'masterpage.html' %}

{% block title %} Facturación del dia {% endblock title %}

{% block content %}

{% load mathfilters %}
{% load humanize %}

<section>
	<br>
	
	<form action="" method="get" >
	<div class="factura"> Fecha: <input id="idFecha" name="Fecha" type="text" PlaceHolder="Fecha"/> <input type="submit" class="AddItem PrintFact" value="Buscar"> </div> 
	</form>

	<div class="linea">
			
	</div>

	{% if object_list %}

	<table class="factura" id="iDetalle">
		<tr>
			<td class="margenesTitle">No. Factura </td> 
			<td class="margenesTitle">Total </td>  
		</tr>

		{% for factura in object_list %}
		<tr>
			<td class="margenesRow"> {{ factura.factura_id }} </td> 
			<td class="margenesRow"> {{ factura.totalgeneral|sub:factura.descuentos|floatformat:2|intcomma}} </td>  
		</td>
		</tr>
		{% empty %}
			
		{% endfor %}
	</table>
	{% else %}
		<p class="factura" >NO EXISTEN FACTURAS PARA LA FECHA ESPECIFICADA</p>

	{% endif %}
</section>

{% endblock content %}