<!DOCTYPE html>
<html lang="en">
<head>
	
	{% load staticfiles %}

	<meta charset="UTF-8">
	<title> {% block title %} {% endblock%} </title>
	<link rel="stylesheet" type="text/css" href={% static "normalize.css" %} />
	<link rel="stylesheet" href={% static "estilos.css" %} />
	<link rel="stylesheet" href={% static "jquery-ui.css" %} />
	<link rel="stylesheet" href={% static "iconfonts.css" %} />

	<link rel="shortcut icon" type="image/png" href={% static "Logo.png" %} />

</head>
<body>
	<div class="SepHeader">
	<header class="HeaderPag">
		<figure class="LogoPag">
			<img class="LogoImg" src={% static "Logo.png" %} alt="Logo" />		
		</figure>	
		<p class="TitleSystem"> Sistema de Facturación para D' Sherlyn Closet </p>
	</header>
	</div>

		<nav class="Menu">
			<ul class="UlMenu">
				<li> <a class="clsFacturar" id="BtFacturar" href="/facturas">Facturar</a></li>
				<li> <a class="clsFacturar" id="BtApartar" href="/apartados">Apartar</a></li>
				<li> <a class="clsFacturar" id="BtReporte" href="/facturasdeldia">Reporte Ventas</a></li>
				<li> <a class="clsFacturar" id="BtReporte2" href="/buscarfactura">Consultar Factura</a></li>

				<li> <a class="clsAdministrar" href="http://127.0.0.1:8000/admin">Administrar </a></li>
			</ul>
		</nav>

		{% block content %}
		{% endblock content %}

	<footer>
		
	</footer>

	<script src={% static "jquery-1.11.1.js" %} type="text/javascript"> </script>
	<script src={% static "jquery-ui.js" %} type="text/javascript"> </script>
	<script src={% static "regFact.js" %} type="text/javascript"> </script>

</body>
</html>
	

