<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Facturacion</title>
	<link rel="stylesheet" type="text/css" href="../static/normalize.css">
	<link rel="stylesheet" href="../static/estilos.css">
	<link rel="stylesheet" href="../static/iconfonts.css">

	<link rel="shortcut icon" type="image/png" href="../static/Logo.png" />

</head>
<body>
	<div class="SepHeader">
	<header class="HeaderPag">
		<figure class="LogoPag">
			<img class="LogoImg" src="../static/Logo.png" alt="Logo" />		
		</figure>	
		<p class="TitleSystem"> Sistema de Facturación para D' Sherlyn Closet </p>
	</header>
	</div>
		<nav class="Menu">
			<ul class="UlMenu">
				<li> <a class="clsFacturar" id="BtFacturar" href="#">Facturar</a></li>
				<li> <a class="clsFacturar" id="BtApartar" href="#">Apartar</a></li>

				<li> <a class="clsAdministrar" href="http://127.0.0.1:8000/admin">Administrar </a></li>
			</ul>
		</nav>

	<section id="idFacturacion">
		<section class="secFactura">
			
			<label for="producto">Producto:</label>
			<input type="text" name="producto" class="ProductDescrp TextBoxes" PlaceHolder="Buscar Producto" id="iProd" />
			<a href="#" class="AddItem" id="btAdd">Agregar</a>
		</section>	
		<table id="productosajax" class="tableSearch"> </table>
		
		<form action="/facturas/creafactura" method="POST">
		<section class="secDetalle">
			<div class="secDetalleDIV">
			<article class="Item">
				<table class="tableItem HideItem" id="Items">
					<tr class="HeaderItem">
						<td class="CellItemHeader">
						#						
						</td>
						<td class="CellItemHeader">
						Cod. Prod.						
						</td>
						<td class="CellItemHeader">
						Descripción
						</td>
						<td class="CellItemHeader CellItemHeaderNumber">
						Cant.						
						</td>
						<td class="CellItemHeader CellItemHeaderNumber">
						Precio						
						</td>
						<td class="CellItemHeader CellItemHeaderNumber">
						Desc.						
						</td>
						<td class="CellItemHeader CellItemHeaderNumber">
						Importe						
						</td>
						<td class="HeaderDelete CellItemHeader" id="idHeaderDelete">
							
						</td>
						<td class="HeaderDelete CellItemHeader" id="idHeaderApartar">
							
						</td>
					</tr>
					<tr class="DetailsItem HideItem" id="idItem">
						<td class="CellItemDetail dCod" id="iSec"> </td>
						<td class="CellItemDetail dCod" id="iCodigo"> </td>
						<td class="CellItemDetail dDescrp" id="iDescripcion"> </td>
						<td class="CellItemDetail dCant"> <input id="iCantidad" type="text" class="TextBoxes TextItems" PlaceHolder="0.00"/> </td>
						<td class="CellItemDetail dPrecio"> <input id="iPrecio" type="text" class="TextBoxes TextItems" PlaceHolder="0.00"/></td>
						<td class="CellItemDetail dDesc"> <input id="iDescuento" type="text" class="TextBoxes TextItems" PlaceHolder="0.00"/> </td>
						<td class="CellItemDetail dImporte"> <span id="idImporte"> 0.00 </span> </td>
						<td class="CellDelete CellItemDetail" id="idDelete"><a href="#" class="DelItem icon-delete"> </a> </td>
						<td class="CellDelete CellItemDetail" id="idApartar"><a href="#" class="ApartarItem icon-apartar"> </a> </td>
					</tr>
					
			</table>
		</form>
				<table class="tTotals">
					<tr>
						<td> Total: </td>
						<td> <p class="Totals" id="iTOTAL">00,000.00</p></td>
					</tr>
					<tr>
						<td>Pago:</td>
						<td> <p class="Pago"><input name="cant" type="text" class="Totals Pago" PlaceHolder="0.00"/> </p></td>
					</tr>
					<tr>
						<td>Cambio:</td>
						<td> <p class="Totals">00,000.00</p></td>
					</tr>
					<tr>
						<td> </td>
						<td>
							<p>
							<a href="javascript:void(0);" class="AddItem PrintFact">Imprimir </a>
							</p>
						</td>
					</tr>
				</table>
			</article>
		</div>	
		</section>
	</section>



	<!-- ******************************************************************************* -->
	<!-- ESTA ES LA SECCION PARA LOS APARTADOS -->
	<!-- ******************************************************************************* -->
	<section id="idApartados">
	
		<section class="secApartados">
			
			<article class="artCliente">
				<label for="cliente" class="LabelCliente">Cliente:</label>
				<input type="text" name="cliente" class="ProductDescrp TextBoxes TextBoxCte" PlaceHolder="Buscar Cliente" id="iCliente" />
				<a href="#" class="AddItem AddItemCte" id="btAddCte">Agregar Cliente</a>
			</article>

			<article class="artProducto">
				<label for="producto" class="LabelProduct">Producto:</label>
				<input type="text" name="producto" class="ProductDescrp TextBoxes" PlaceHolder="Buscar Producto" id="iProdCte" />
				<a href="#" class="AddItem" id="btAddProdCte">Agregar Producto</a>
			</article>
		</section>	
		
		<section class="secDetalle">
			<div class="secDetalleDIV">
			<article class="Item">
				<table class="tableItem" id="ItemsCte">
					<tr class="HeaderItem">
						<td class="CellItemHeader">
						Cod. Prod.						
						</td>
						<td class="CellItemHeader">
						Descripción
						</td>
						<td class="CellItemHeader">
						Cant.						
						</td>
						<td class="CellItemHeader">
						Precio						
						</td>
						<td class="CellItemHeader">
						Desc.						
						</td>
						<td class="CellItemHeader">
						Importe						
						</td>
						<td class="HeaderDelete CellItemHeader" id="idHeaderDelete">
							
						</td>
					</tr>
					<tr class="DetailsItem" id="idItem">
						<td class="CellItemDetail dCod"> xxxx</td>
						<td class="CellItemDetail dDescrp"> xxxxxxxxxxxxxxxxxxxxxxxx</td>
						<td class="CellItemDetail dCant"> <input name="cant" type="text" class="TextBoxes TextItems" PlaceHolder="0.00"/> </td>
						<td class="CellItemDetail dPrecio"> <input name="cant" type="text" class="TextBoxes TextItems" PlaceHolder="0.00"/></td>
						<td class="CellItemDetail dDesc"> <input name="cant" type="text" class="TextBoxes TextItems" PlaceHolder="0.00"/> </td>
						<td class="CellItemDetail dImporte"> 0.00 </td>
						<td class="CellDelete CellItemDetail" id="idDelete"><a href="#" class="DelItem icon-delete"> </a> </td>
					</tr>
					
				</table>
				<table class="tTotals">
					<tr>
						<td> Total: </td>
						<td> <p class="Totals">12,000.52 </p></td>
					</tr>
					<tr>
						<td>Pago:</td>
						<td> <p class="Totals"><input name="cant" type="text" class="Totals" PlaceHolder="0.00"/> </p></td>
					</tr>
					<tr>
						<td>Cambio:</td>
						<td> <p class="Totals">12,000.52 </p></td>
					</tr>
				</table>
				<a href="#" class="AddItem PrintFact">Imprimir </a>
			</article>
		</div>	
		</section>

	</section>

	<footer>
		
	</footer>

	<script src="../static/jquery-1.11.1.js" type="text/javascript"> </script>
	<script src="../static/regFact.js" type="text/javascript"> </script>

</body>
</html>