<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Facturacion</title>
	<link rel="stylesheet" type="text/css" href="../static/normalize.css">
	<link rel="stylesheet" href="../static/estilos.css">
	<link rel="stylesheet" href="../static/iconfonts.css">
</head>
<body>
	<div class="SepHeader">
	<header class="HeaderPag">
		<figure class="LogoPag">
			<img class="LogoImg" src="../static/Logo.png" alt="Logo" />		
		</figure>	
		<p class="TitleSystem"> Sistema de Facturación para D' Sherlyn Closet </p>
	</header>
	</div>
		<nav class="Menu">
			<ul class="UlMenu">
				<li> <a class="clsFacturar" href="#">Facturar</a></li>
				<li> <a class="clsAdministrar" href="">Administrar </a></li>
			</ul>
		</nav>

	<section class="secFactura">
		
		<label for="producto">Producto:</label>
		<input type="text" name="producto" class="ProductDescrp TextBoxes icon-search" PlaceHolder="Buscar Producto" id="iProd" />
		<a href="#" class="AddItem" id="btAdd">Agregar</a>
	</section>	
	
	<section class="secDetalle">
		<div class="secDetalleDIV">
		<article class="Item">
			<table class="tableItem" id="Items">
				<tr class="HeaderItem">
					<td class="CellItemHeader">
					Cod. Prod.						
					</td>
					<td class="CellItemHeader">
					Descripción
					</td>
					<td class="CellItemHeader">
					Cant.						
					</td>
					<td class="CellItemHeader">
					Precio						
					</td>
					<td class="CellItemHeader">
					Desc.						
					</td>
					<td class="CellItemHeader">
					Importe						
					</td>
				</tr>
				<tr class="DetailsItem" id="idItem">
					<td class="CellItemDetail dCod"> xxxx</td>
					<td class="CellItemDetail dDescrp"> xxxxxxxxxxxxxxxxxxxxxxxx</td>
					<td class="CellItemDetail dCant"> <input name="cant" type="text" class="TextBoxes TextItems" PlaceHolder="0.00"/> </td>
					<td class="CellItemDetail dPrecio"> <input name="cant" type="text" class="TextBoxes TextItems" PlaceHolder="0.00"/></td>
					<td class="CellItemDetail dDesc"> <input name="cant" type="text" class="TextBoxes TextItems" PlaceHolder="0.00"/> </td>
					<td class="CellItemDetail dImporte"> <input name="cant" type="text" class="TextBoxes TextItems" PlaceHolder="0.00"/> </td>
				</tr>
				
			</table>
			<table class="tTotals">
				<tr>
					<td> Total: </td>
					<td> <p class="Totals">12,000.52 </p></td>
				</tr>
				<tr>
					<td>Pago:</td>
					<td> <p class="Totals">12,000.52 </p></td>
				</tr>
				<tr>
					<td>Cambio:</td>
					<td> <p class="Totals">12,000.52 </p></td>
				</tr>
			</table>
			<a href="#" class="AddItem">Imprimir </a>
		</article>
	</div>	
	</section>

	<footer>
		
	</footer>

	<script src="../static/jquery-1.11.1.js" type="text/javascript"> </script>
	<script src="../static/regFact.js" type="text/javascript"> </script>

</body>
</html>