{% extends 'masterpage.html' %}

{% block content %}
	<section id="idFacturacion">
		<section class="secFactura">
			
			<label for="producto">Producto:</label>
			<input type="text" name="producto" class="ProductDescrp TextBoxes" PlaceHolder="Buscar Producto" id="iProd" />
			<a href="#" class="AddItem" id="btAdd">Agregar</a>
		</section>	
		<table id="productosajax" class="tableSearch"> </table>
		
		<form action="/facturas/creafactura" method="POST">
		<section class="secDetalle">
			<div class="secDetalleDIV">
			<article class="Item">
				<table class="tableItem HideItem" id="Items">
					<tr class="HeaderItem">
						<td class="CellItemHeader">
						#						
						</td>
						<td class="CellItemHeader">
						Cod. Prod.						
						</td>
						<td class="CellItemHeader">
						Descripción
						</td>
						<td class="CellItemHeader CellItemHeaderNumber">
						Cant.						
						</td>
						<td class="CellItemHeader CellItemHeaderNumber">
						Precio						
						</td>
						<td class="CellItemHeader CellItemHeaderNumber">
						Desc.						
						</td>
						<td class="CellItemHeader CellItemHeaderNumber">
						Importe						
						</td>
						<td class="HeaderDelete CellItemHeader" id="idHeaderDelete">
							
						</td>
						<td class="HeaderDelete CellItemHeader" id="idHeaderApartar">
							
						</td>
					</tr>
					
					
			</table>
		</form>
				<table class="tTotals">
					<tr>
						<td> Total: </td>
						<td> <p class="Totals" id="iTOTAL">00,000.00</p></td>
					</tr>
					<tr>
						<td>Pago:</td>
						<td> <p class="Pago"><input id="iPagoF" name="cant" type="text" class="Totals Pago" PlaceHolder="0.00"/> </p></td>
					</tr>
					<tr>
						<td>Cambio:</td>
						<td> <p class="Totals" id="iCambioF">00,000.00</p></td>
					</tr>
					<tr>
						<td> </td>
						<td>
							<p>
							<a href="javascript:void(0);" class="AddItem PrintFact">Imprimir </a>
							</p>
						</td>
					</tr>
				</table>
			</article>
		</div>	
		</section>
	</section>

{% endblock %}