{% extends 'masterpage.html' %}

{% block title %} Reportes {% endblock title %}

{% block content %}

{% load mathfilters %}
{% load humanize %}

<section class="reportes">
<h2>Reportes</h2>

<div class="facturasdeldia margenLeft margenTop reporteItem">
	<a href="/facturasdeldia" class="AddItem"> Facturas por Dia</a>
</div>

{% if user == 'dsc' %}
<div class="facturasdeldia margenLeft margenTop reporteItem">
	<a href="/facturasdeldia" class="AddItem"> Articulos Vendidos</a>
</div>
<div class="facturasdeldia margenLeft margenTop reporteItem">
	<a href="/facturasdeldia" class="AddItem"> Deudas de Clientes</a>
</div>
</section>
{% endif %}

{% endblock content %}