body{

	font-family: Helvetica;
	margin: 0;
	padding: 0;
}

h2{
	color: #555;
	font-size: 1.2em;
	position: absolute;
	left: 9em;
	float: left;
	top: 3.8em;
}
.MontoDeuda{
	font-size: 1.3em;
	color: red;
	line-height: 22px;
	font-weight: bold;
}
.BCte{
	position: absolute;
	top: -4.5em;
	left: 31.8em;
	margin: 0;
	padding: 0;
}
.NoMargenNoPadding{
	margin: 0;
	padding: 0;
	height: .2em;
}
/* FORMULARIO DE INVENTARIO */
.InventarioSection label{
	color: black;
}
.InventarioSection #id_fecha_entrada{
	width: 6em;
}
.InventarioSection #id_descripcion_salida{
	width: 20em;
}
.InventarioSection #id_cantidad{
	width: 4em;
}
.errorlist li{
	color: red;
}
.margenLeft{
	margin-left: 1em;
}
/*+++++++++++++++++++++++++++++++++++++++*/

.secCliente{
	position: relative;
	float: right;
	top: 1.5em;
	right: 3em;
}
.cerrarCte{
	color: black;
	float: right;
	font-size: 1.5em;
	margin-right: 0.5em;
	position: absolute;
	right: 0;
	text-decoration: none;
	top: 0.9em;
}
.cerrarCte:hover{
	color: yellow;
}
.cliente{
	border-radius: 15px 15px 0 0px;
	background: #FF44FA;
	color: white;
	padding: .5em 0 .5em .5em;
	height: 1.3em;
}
.Cte{
	display: inline-block;
	margin: 0 0.5em 1em 1em;
}
.tCte{
	display: inline-block;
	margin: 0 0.5em 1em 0em;
}
.nuevoCliente{
	display: none;
	background: lightgray;
	border-radius: 15px 15px 0 0px;

}
.guardarCliente{
	margin: 0 0 .4em .8em;
	padding: 0.5em 13.5em;
}
.guardarCliente:hover{
	background: #BB00EA;
	color: white;
}
.nuevoClienteForm{
	display: block;
}
.usuario{
	float: right;
	margin-right: 1em;
	color: #990099;
	font-style: italic;
	font-size: 0.8em;
}
.reportes{
	margin: 3em 0 0 0;
}
.reporteItem{
	width: 300px;
}
.margenTop{
	margin-top: 2.1em;
}
.displaynone{
	display: none;
}
.margenNoExiste{
	margin: 1em;
	color: red;
	font-weight: bold;
}

.clsCte{
	padding-left: 1em;
}
.search-iconProd{
	font-size: 1.2em;
	position: absolute;
	right: 10.35em;
	top: .35em;
	color: #ccc;
}
.search-iconCte{
	font-size: 1.2em;
	position: absolute;
	right: 7.25em;
	top: .35em;
	color: #ccc;
	cursor: pointer;
}
.search-icon2{
	font-size: 1.2em;
	position: absolute;
	right: 7.2em;
	top: 2.65em;
	color: #ccc;
}
.Guardado{
	color: blue;
	background: yellow;
	font-size: 28px;
}

.linea{
	height: 3px;
	background: lightgray;
	width: 97%;
	margin: 1em auto;
}
.InhabilitaBoton{
	background: lightgray;
	border-radius: 0.9em;
	box-shadow: rgba(0,0,0,0.5) 2px 2px 20px;
	font-style: italic;
	padding: 0.5em 2.2em 0.5em 2.2em;
	text-decoration: none;
	text-shadow: rgba(0,0,0,0.5) 2px 2px 5px;
	color: black;
	margin: 2em 0.2em;
}

.MUJER{
	background: white;
	color: #ff00ff;
}
.HOMBRE{
	color: #3300ff;
	background: white;
}
.ELISAFASHIONS{
	color: #339900;
	background: white;
}
.VITRINA{
	color: #333333;
	background: white
}
.NIÑO{
	color: #cc9900;
	background: white;
}

#abonosajax{
	margin: 1.6em 0 0 2em;
	width: 30%;
}

#productosajax{
	margin: 0.3em 0 0 6em;
	position: absolute;
	width: 30%;
}
.tableSearch{
	border-radius: 1.4em 0 1.4em 0;
	border: 2px solid #333333;
	background: white;
	margin: 0;

}
.tableSearchCte{
	border: 2px solid #333333;
	position: absolute;
	left: 4.5em;
	background: white;
	margin-top: .2em;
	width: 390px;
}

.idCodCte{
	width: 2em;
	text-align: center;
}
.DetailsItemSearch{
	border-radius: 1.4em 0 1.4em 0;
	/*border: 1px solid red;*/
}
.CellItemDetailAbono{
	font-size: 1.1em;
	color: red;
	text-align: right;
	border: 2px solid #555;
	padding: 0.13em 0.13em;
}
.CellItemDetailSearch{
	padding: 0.1em 0 0 0.1em;
	box-shadow: 0px 0.02em 0.02em 0.01em rgba(255,93,251,0.5);
}
.CellItemDetailSearchRight{
	box-shadow: 0px 0.02em 0.02em 0.01em rgba(255,93,251,0.5);
	padding: 0.1em 0.5em;
	text-align: right;
}
.CellItemDetailSearch a{
	display: block;
	padding: 0.3em 0.5em;	
	text-decoration: none;
}
.CellItemDetailSearch a:hover{
	background: black;
	color: white;
}

.HeaderPag{
	/*position: relative;*/
	display: block;
	/*border: 2px solid blue;*/
	left:0;
	right:0;
}
.SepHeader{
	display: block;
	left: 0;
	margin: 0 0 .5em 0;
	overflow: hidden;
	position: relative;
	right: 0;
}

.LogoPag{
	display: block;
	display: inline-block;
	margin: .4em 0 0 1em;
	float:left;
}
.LogoImg{
	width: 125px;
}
.LogoImg:hover{
	-webkit-transform: rotate(360deg);
	-webkit-transition: .3s;

}

.TitleSystem{
	margin: 1.7em 0 0 1em;
	display: inline-block;
	font-size: 28px;
	font-weight: bold;
	text-shadow: rgba(0,0,0,0.5) 1px 1px 2px;
}
.Menu{
	display: block;
	position: relative;
	margin: 0;
	padding: 0;
	box-shadow: 0px 0.5em 0.7em 0.01em rgba(255,93,251,0.5);
	background: #FF44FA;
}
.UlMenu{
	text-decoration: none;
	border-radius: rgba(0,0,0,0.6) 2px 2px 2px;
	padding: 0;
	margin: 0;
	/*overflow: hidden;*/
}
.UlMenu li{
	margin: 0;
	display: inline-block;
	text-decoration: none;
	color: white;
	font-size: 18px;
}
.clsItemMenu{
	display: block;
	text-decoration: none;
	color: white;
	padding: 0.4em 1em 0.4em 1em;
	margin: 0;
	font:bold;
	-webkit-transform: scale(23deg);
	-webkit-transition: .3s;
}
.clsItemMenu:hover{
	background: #B226AF;
	color: #82FF44;
}

.clsAdministrar{
	text-decoration: none;
	text-shadow: rgba(0,0,0,0.5) 2px 2px 5px;
	position: absolute;
	right: 0;
	top:-0.4em;
	-webkit-transform: scale(23deg);
	-webkit-transition: .3s;
}
.UlMenu li:last-child a{
	background: #BB00EA;
	border: 2px solid #FF88FA;
	padding: 0.7em 1.3em 0.7em 1em;
	margin: 0 .5em 0 0;
	box-shadow: rgba(0,0,0,0.5) 4px 3px 2px;
	border-radius: 1.4em 0 1.4em 0;
	color: white;
}
.UlMenu li:last-child a:hover{
	color: #BB00EA;
	background: #FF88FA;
}

.TextItems{
	margin: 0;
	text-align: right;
	width: 6em;
	border: none;
}

.TextBoxes{
	outline: 0;
}

.ProductDescrp{
	width: 23em;
	padding: 0.28em 0 0.26em 0.45em;
	margin: 0;
	font-size: 18px;
	border-radius: 0.9em 0.9em 0.9em 0.9em;
	border: 2px solid #FF88FA;
	box-shadow: rgba(255,93,251,0.5) 4px 3px 2px;
	position: relative;
}

.ProductDescrp:focus{
	outline: 0;
	background: rgba(255,93,251,0.08);
}

.AddItem{
	background: #BB00EA;
	border-radius: 0.9em;
	box-shadow: rgba(0,0,0,0.5) 2px 2px 20px;
	font-style: italic;
	padding: 0.5em 2.2em 0.5em 2.2em;
	text-decoration: none;
	text-shadow: rgba(0,0,0,0.5) 2px 2px 5px;
	color: white;
	margin: 2em 0.2em;
	outline: none;
}

.secFactura{
	margin: 3em 0 0 1em;
	position: relative;
	display: inline-block;
}

.secApartados{
	margin: 0.5em 0 0 0;
	position: static;
}

.secDetalle{
	margin: 1em 0 0 1em;
}

.secDetalleDIV{
	/*position: relative;*/
	display: inline-block;
}

.tableItem{
	/*border: 2px solid gray;*/
}


.HeaderItem{
	/*border: 2px solid black;*/
	color: white;

}

.CellItemHeader{
	border: 2px solid gray;
	background: black;
	padding: 0 0.5em;
}

.CellItemHeaderNumber{
	text-align: right;
}

.CellItemDetail{
	border: 2px solid black;
	padding: 0 0.3em;
}

.CellDelete{
	padding: 0.16em 0 0 0;
	text-align: center;
}

.DelItem{
	text-decoration: none;
	margin: 0 0.5em;
	color: red;
}

.ApartarItem{
	text-decoration: none;
	margin: 0 0.5em;
	color: darkblue;
}

.dCant, .dPrecio, .dDesc, .dImporte{
	text-align: right;

}
.Item{
	/*position: relative;*/
}
.tTotals{
	text-align: right;
	/*position: absolute;*/
	/*left: 410px;*/
	padding: 0;
	margin: 1em 0 0 24.22em;
}
.Pago{
	text-align: right;
	margin: 0;
	padding: 0;
}
.Totals{
	border-radius: 0.2em 0.2em 0.2em 0.2em;	
	border: 1px solid red;
	box-shadow: 0px 0.5em 0.7em 0.01em rgba(255,93,251,0.5);
	margin: 0.2em 0;
	padding: 0.3em 0.2em;
	width: 186px;
}

.PrintFact{
	position: relative;
	margin: 2em 0 0 0;
	border: 0;
}

.artProducto{
	display: block;
	margin: 0.5em 0 0 0;
}

.TextBoxCte{
	margin: 0 0 0 0.8em;
}

.AddItemCte{
	margin: 0 0 0 0.2em;
}

.aProd{
	color: black;
}

.HideItem{
	display: none;
}

.clsMessage{

	color: red;
	font-weight: bold;
	font-size: 14px;
}

.factura{
	margin: 0.4em 1em;
}

.margenesTitle{
	padding: 0.2em 0.3em  0 1em;
	text-align: right;
	font-weight: bold;
	border: 2px solid black;
}
.margenesProducto{
	text-align: left;
}
.margenesRow{
	padding: 0.4em 0.2em;
	text-align: right;
	border: 2px solid gray;

}