body{

	font-family: Helvetica;
	margin: 0;
	padding: 0;
}

.MUJER{
	background: white;
	color: #ff00ff;
}
.HOMBRE{
	color: #3300ff;
	background: white;
}
.ELISAFASHIONS{
	color: #339900;
	background: white;
}
.VITRINA{
	color: #333333;
	background: white
}
.NIÑO{
	color: #cc9900;
	background: white;
}

#productosajax{
	margin: 0.3em 0 0 6em;
	position: absolute;
	width: 30%;
}
.tableSearch{
	background: lightblue;
	border-radius: 1.4em 0 1.4em 0;
	border: 2px solid #333333;
	width: 100%;
}
.DetailsItemSearch{
	border-radius: 1.4em 0 1.4em 0;
	/*border: 1px solid red;*/
}
.CellItemDetailSearch{
	padding: 0.1em 0 0 0.1em;
	box-shadow: 0px 0.02em 0.02em 0.01em rgba(255,93,251,0.5);
}
.CellItemDetailSearchRight{
	box-shadow: 0px 0.02em 0.02em 0.01em rgba(255,93,251,0.5);
	padding: 0.1em 0.5em;
	text-align: right;
}
.CellItemDetailSearch a{
	display: block;
	padding: 0.3em 0.5em;	
	text-decoration: none;
}
.CellItemDetailSearch a:hover{
	background: black;
	color: white;
}

.HeaderPag{
	/*position: relative;*/
	display: block;
	/*border: 2px solid blue;*/
	left:0;
	right:0;
}
.SepHeader{
	display: block;
	left: 0;
	margin: 0 0 .5em 0;
	overflow: hidden;
	position: relative;
	right: 0;
}

.LogoPag{
	display: block;
	display: inline-block;
	margin: .4em 0 0 1em;
	float:left;
}
.LogoImg{
	width: 125px;
}
.LogoImg:hover{
	-webkit-transform: rotate(360deg);
	-webkit-transition: 1s;

}

.TitleSystem{
	margin: 1.7em 0 0 1em;
	display: inline-block;
	font-size: 28px;
	font-weight: bold;
	text-shadow: rgba(0,0,0,0.5) 1px 1px 2px;
}
.Menu{
	display: block;
	position: relative;
	margin: 0;
	padding: 0;
	box-shadow: 0px 0.5em 0.7em 0.01em rgba(255,93,251,0.5);
	background: #FF44FA;
}
.UlMenu{
	text-decoration: none;
	border-radius: rgba(0,0,0,0.6) 2px 2px 2px;
	padding: 0;
	margin: 0;
	/*overflow: hidden;*/
}
.UlMenu li{
	margin: 0;
	display: inline-block;
	text-decoration: none;
	color: white;
	font-size: 18px;
}
.clsFacturar{
	display: block;
	text-decoration: none;
	color: white;
	padding: 0.4em 1em 0.4em 1em;
	margin: 0;
	font:bold;
	-webkit-transform: scale(23deg);
	-webkit-transition: .7s;
}
.clsFacturar:hover{
	background: #B226AF;
	color: #82FF44;
}

.clsAdministrar{
	text-decoration: none;
	text-shadow: rgba(0,0,0,0.5) 2px 2px 5px;
	position: absolute;
	right: 0;
	top:-0.4em;
	-webkit-transform: scale(23deg);
	-webkit-transition: .7s;
}
.UlMenu li:last-child a{
	background: #BB00EA;
	border: 2px solid #FF88FA;
	padding: 0.7em 1.3em 0.7em 1em;
	margin: 0 .5em 0 0;
	box-shadow: rgba(0,0,0,0.5) 4px 3px 2px;
	border-radius: 1.4em 0 1.4em 0;
	color: white;
}
.UlMenu li:last-child a:hover{
	color: #BB00EA;
	background: #FF88FA;
}

.TextItems{
	margin: 0;
	text-align: right;
	width: 6em;
	border: none;
}

.TextBoxes{
	outline: 0;
}

.ProductDescrp{
	width: 23em;
	padding: 0.28em 0 0.26em 0.45em;
	margin: 0;
	font-size: 18px;
	border-radius: 0.9em 0.9em 0.9em 0.9em;
	border: 2px solid #FF88FA;
	box-shadow: rgba(255,93,251,0.5) 4px 3px 2px;
}

.ProductDescrp:focus{
	outline: 0;
	background: rgba(255,93,251,0.08);
}

.AddItem{
	background: #BB00EA;
	border-radius: 0.3em;
	box-shadow: rgba(0,0,0,0.5) 2px 2px 20px;
	font-style: italic;
	padding: 0.4em 2.2em 0.4em 2.2em;
	text-decoration: none;
	text-shadow: rgba(0,0,0,0.5) 2px 2px 5px;
	color: white;
	margin: 2em 0.2em;
}

.secFactura,.secApartados{
	margin: 3em 0 0 1em;
}

.secDetalle{
	margin: 1em 0 0 1em;
}

.secDetalleDIV{
	/*position: relative;*/
	display: inline-block;
}

.tableItem{
	/*border: 2px solid gray;*/
}


.HeaderItem{
	/*border: 2px solid black;*/
	color: white;

}

.CellItemHeader{
	border: 2px solid black;
	background: black;
	padding: 0 0 0 0.2em;
}

.CellItemHeaderNumber{
	text-align: right;
}

.CellItemDetail{
	border: 2px solid black;
	padding: 0 0.3em;
}

.CellDelete{
	padding: 0.16em 0 0 0;
}

.DelItem{
	text-decoration: none;
	margin: 0 0.5em;
	color: red;
}

.ApartarItem{
	text-decoration: none;
	margin: 0 0.5em;
	color: darkblue;
}

.dCant, .dPrecio, .dDesc, .dImporte{
	text-align: right;

}
.Item{
	/*position: relative;*/
}
.tTotals{
	text-align: right;
	/*position: absolute;*/
	/*left: 410px;*/
	padding: 0;
	margin: 1em 0 0 24.22em;
}
.Pago{
	text-align: right;
	margin: 0;
	padding: 0;
}
.Totals{
	border-radius: 0.2em 0.2em 0.2em 0.2em;	
	border: 1px solid red;
	box-shadow: 0px 0.5em 0.7em 0.01em rgba(255,93,251,0.5);
	margin: 0.2em 0;
	padding: 0.3em 0.2em;
	width: 186px;
}

.PrintFact{
	position: relative;
	margin: 2em 0 0 0;
	border: 0;
}

.secApartados{
	display: inline-block;
}
.artProducto{
	display: block;
	margin: 0.5em 0 0 0;
}

.TextBoxCte{
	margin: 0 0 0 0.8em;
}

.AddItemCte{
	margin: 0 0 0 0.2em;
}

.aProd{
	color: black;
}

.HideItem{
	display: none;
}

.clsMessage{

	color: red;
	font-weight: bold;
	font-size: 14px;
}