body{

	font-family: Helvetica;
	margin: 0;
	padding: 0;
}
.HeaderPag{
	/*position: relative;*/
	display: block;
	/*border: 2px solid blue;*/
	left:0;
	right:0;
}
.SepHeader{
	position: relative;
	display: block;
	/*border: 6px solid green;*/
	left: 0;
	right: 0;
	margin: 0 0 .5em 0;
	overflow: hidden;
}

.LogoPag{
	display: block;
	display: inline-block;
	margin: .4em 0 0 1em;
	float:left;
}
.LogoImg{
	width: 125px;
}
.LogoImg:hover{
	-webkit-transform: rotate(360deg);
	-webkit-transition: 1s;

}

.TitleSystem{
	margin: 1.7em 0 0 1em;
	display: inline-block;
	font-size: 28px;
	font-weight: bold;
	text-shadow: rgba(0,0,0,0.5) 1px 1px 2px;
}
.Menu{
	display: block;
	position: relative;
	margin: 0;
	padding: 0;
	box-shadow: 0px 0.5em 0.7em 0.01em rgba(255,93,251,0.5);
	background: #FF44FA;
}
.UlMenu{
	text-decoration: none;
	border-radius: rgba(0,0,0,0.6) 2px 2px 2px;
	padding: 0;
	margin: 0;
	/*overflow: hidden;*/
}
.UlMenu li{
	margin: 0;
	display: inline-block;
	text-decoration: none;
	color: white;
	font-size: 18px;
}
.clsFacturar{
	display: block;
	text-decoration: none;
	color: white;
	padding: 0.4em 1em 0.4em 1em;
	margin: 0;
	font:bold;
	-webkit-transform: scale(23deg);
	-webkit-transition: .7s;
}
.clsFacturar:hover{
	background: #B226AF;
	color: #82FF44;
}

.clsAdministrar{
	text-decoration: none;
	text-shadow: rgba(0,0,0,0.5) 2px 2px 5px;
	position: absolute;
	right: 0;
	top:-0.4em;
	-webkit-transform: scale(23deg);
	-webkit-transition: .7s;
}
.UlMenu li:last-child a{
	background: #BB00EA;
	border: 2px solid #FF88FA;
	padding: 0.7em 1.3em 0.7em 1em;
	margin: 0 .5em 0 0;
	box-shadow: rgba(0,0,0,0.5) 4px 3px 2px;
	border-radius: 1.4em 0 1.4em 0;
	color: white;
}
.UlMenu li:last-child a:hover{
	color: #BB00EA;
	background: #FF88FA;
}

.AddItem{
	background: #BB00EA;
	border-radius: 0.3em;
	box-shadow: rgba(0,0,0,0.5) 2px 2px 20px;
	font-style: italic;
	padding: 0.3em 2.5em 0.3em 2.5em;
	text-decoration: none;
	text-shadow: rgba(0,0,0,0.5) 2px 2px 5px;
	color: white;
}

.secFactura{
	margin: 3em 0 0 1em;
}

.secDetalle{
	margin: 1em 0 0 1em;
}

.tableItem{
	/*border: 2px solid gray;*/
}

.HeaderItem{
	/*border: 2px solid black;*/
	color: white;

}

.CellItemHeader{
	border: 2px solid gray;
	background: black;
	padding: 0 1em;
}

.CellItemDetail{
	border: 2px solid gray;
	padding: 0 0.3em;
}

.dCant, .dPrecio, .dDesc, .dImporte{
	text-align: right;

}
